* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.listMovies {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.movie {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}